<table class="table table-striped table-hover">

    <thead>

        <tr>

            <th>Name

            <th>Email Address

           
        </tr>

    </thead>

    <tbody>

        {{#each rows}}

            <tr>

                <td>{{this.name}}

                <td>{{this.email}}


            </tr>

        {{/each}}

    </tbody>

</table>